@import "_variable";

html {
	box-sizing: border-box;
	// font-size: clamp(11px, 1.16vw, 16px);
	font-size: clamp(14px, 1.46vw, 20px);
	line-height: 1.5;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	@include tablet {
		font-size: clamp(16px, 2vw, 22px);
	}
	@include mobile {
		font-size: clamp(16px, 3.75vw, 32px);
	}
	@include mobile-sm {
		font-size: clamp(16px, 5vw, 24px);
	}
}
body {
	min-width: 320px;
	font: 1rem/1.5 $font-family-primary;
	background: #120E0F;
	color: $clr-base;
	margin: 0;
	padding: 0;
	height: 100%;
	@include tablet {
		--wp--preset--font-size--small: .875rem;
		--wp--preset--font-size--medium: 1.2rem;
		--wp--preset--font-size--large: 1.675rem;
		--wp--preset--font-size--x-large: 1.875rem;
		--wp--preset--font-size--xlarge: 2.2rem;
		--wp--preset--spacing--20: 0.44rem;
		--wp--preset--spacing--30: 0.67rem;
		--wp--preset--spacing--40: 1rem;
		--wp--preset--spacing--50: 1.5rem;
		--wp--preset--spacing--60: 2rem;
		--wp--preset--spacing--70: 3rem;
		--wp--preset--spacing--80: 4rem;
		--wp--preset--spacing--1: 1rem;
		--wp--preset--spacing--2: 1.5rem;
		--wp--preset--spacing--3: 2rem;
		--wp--preset--spacing--4: 2.5rem;
		--wp--preset--spacing--5: 3rem;
		--wp--preset--spacing--6: 3.5rem;
		--wp--preset--spacing--7: 4rem;
		--wp--preset--spacing--8: 4.5rem;
		--wp--preset--spacing--9: 5rem;
		--wp--preset--spacing--10: 5.5rem;
		--wp--preset--spacing--11: 6rem;
		--wp--preset--spacing--12: 6.5rem;
		--wp--preset--spacing--13: 7rem;
		--wp--preset--spacing--14: 7.5rem;
		--wp--preset--spacing--15: 8rem;
		--wp--preset--spacing--16: 8.5rem;
		--wp--preset--spacing--17: 9rem;
	}
	@include mobile {
		&.nav-active {
			overflow: hidden;
		}
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: normal;
	line-height: 1;
	margin-block-start: 1em;
	margin-block-end: .5em;
	letter-spacing: -0.04em;
}

.wp-block-heading {
	@include tablet {
		--wp--preset--font-size--h-5: 1rem;
		--wp--preset--font-size--h-4: 1.4rem;
		--wp--preset--font-size--h-3: 1.675rem;
		--wp--preset--font-size--h-2: 1.875rem;
		--wp--preset--font-size--h-1: 2.2rem;
	}
}


p {
	margin-block: 1em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	
}

big {
	font-size: 125%;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
	border: 0;
	vertical-align: middle;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

ul,
ol {
	// list-style-position: inside;
	margin-block: 1em;
}

ul ul,
ol ol {
	margin-top: 0;
	padding-left: 1em;
}

/* Links
--------------------------------------------- */
a {
	color: $clr-base;
	text-decoration: none;
	transition: color 0.2s ease 0s, background 0.2s ease 0s;
	&:hover {
		text-decoration: underline;
	}
}

a:visited {
	// color: #800080;
}

a:hover,
a:focus,
a:active {
	// color: #191970;
}

a:focus {
	outline: none;
}

a:hover,
a:active {
	outline: 0;
}
/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}
.widget select {
	max-width: 100%;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.wp-caption-text {
	text-align: center;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}
/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

.align-center{
	align-items: center;
}


/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
fieldset,
form {
	margin: 0;
	padding: 0;
	border-style: none;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: 100% $font-family-primary;
	vertical-align: middle;
	-webkit-appearance: none;
}

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: 700;
}


/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	display: block;
}
.site {
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	overflow: clip;
	box-sizing: border-box;
}
.svg-icon {
	vertical-align: top;
	fill: currentColor;
	stroke: currentColor;
	max-width: 100%;
	max-height: 100%;
}
.container{
	max-width: 1248px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 24px;
	&--sm {
		max-width: 923px;
	}
	@include mobile {
		padding: 0 1rem;
	}
}
.site-main {
	-webkit-box-flex:1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	position: relative;
	z-index: 3;
}
.grecaptcha-badge {
	visibility: hidden;
	opacity: 0;
}
.edit-link {
	display: none !important; 
}
.site-main .alignfull {
	max-width: 100%;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding-inline: 1rem;
	&.has-container {
		padding-inline: 0;
	}
	@include mobile {
		left: auto;
		transform: none;
	}
	&.wp-block-image{
		max-width: 100%;
	}
}
.site-main .alignwide {
	max-width: 1540px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding-inline: 1rem;
	@include desktop {
		left: auto;
		transform: none;
		max-width: 100%;
		padding-inline: 0;
	}
}
.site-main .container {
	.alignwide {
		width: 100vw;
		@include mobile {
			width: auto;
			// margin-left: -1rem;
			// margin-right: -1rem;
		}
		.alignfull:not(.wp-block-image) { 
			max-width: 100%;
		}
	}
	.alignfull:not(.wp-block-image) {
		max-width: none;
		width: calc(100vw - 16px);
		width: calc(100cqw);
		@include mobile {
			width: auto;
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}
	.align {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.site-main > article {
	container-type: inline-size;
}
.sr-only {
	position: absolute!important;
	display: block!important;
	overflow: hidden!important;
	clip: rect(0,0,0,0)!important;
	width: 1px!important;
	height: 1px!important;
	margin: -1px 0 0 -1px!important;
	padding: 0!important;
	cursor: text!important;
	border: 0!important;
	outline: 0!important;
	font-size: 15px!important;
	font-weight: 400!important;
	line-height: 1px!important;
}